<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.awc20.spzx.manager.mapper.SysMenuMapper">
    <select id="selectAllMenus" resultType="com.awc20.spzx.model.entity.system.SysMenu">
        select * from sys_menu where is_deleted=0
    </select>

    <select id="selectSysMenuByUserId" resultType="com.awc20.spzx.model.entity.system.SysMenu">
        select DISTINCT  sm.* from sys_user_role sur
                                       JOIN sys_role  sr  ON sur.role_id=sr.id
                                       JOIN sys_role_menu srm ON srm.role_id= sr.id
                                       JOIN sys_menu sm ON srm.menu_id= sm.id
                              WHERE user_id=#{userId}
                                and sm.is_deleted=0
                                and sur.is_deleted=0
                                and srm.is_deleted=0
    </select>

    <insert id="insertSysMenu">
        insert into sys_menu (
            id,
            parent_id,
            title,
            component,
            sort_value,
            status
        ) values (
                     #{id},
                     #{parentId},
                     #{title},
                     #{component},
                     #{sortValue},
                     #{status}
                 )
    </insert>

    <update id="updateSysMenu">
        update sys_menu set
        <if test="parentId != null and parentId != ''">
            parent_id = #{parentId},
        </if>
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="component != null and component != ''">
            component = #{component},
        </if>
        <if test="sortValue != null">
            sort_value = #{sortValue},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        update_time =  now()
        where
        id = #{id}
    </update>
</mapper>