<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.awc20.spzx.manager.mapper.SysUserRoleMapper">

    <!--批量插入-->
    <insert id="insertUserRole">
        insert into sys_user_role(role_id,user_id) values 
       <foreach collection="roleIdList" item="roleId" separator=",">
           (#{roleId},#{userId})
       </foreach>
    </insert>

    <!--本来数据不应该直接删的，但是中间表，直接删。-->
    <delete id="deleteByUserId">
        delete from sys_user_role where user_id=#{userId}
    </delete>
    <select id="findRoleIdBySysUserId" resultType="java.lang.Long">
        select role_id from sys_user_role where user_id=#{sysUserId}
    </select>
</mapper>