<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.awc20.spzx.manager.mapper.BrandMapper">
    <insert id="insertBrand">
        insert into brand(name, logo) VALUES (#{name},#{logo})
    </insert>
    <update id="updateById">
        update brand
        <set>
            <if test="name!= null and name!=''">
                name=#{name},
            </if>
            <if test="logo!= null and logo!=''">
                logo=#{logo},
            </if>
            update_time=now()
        </set>
        where id=#{id}
    </update>
    <select id="selectBrandByPage" resultType="com.awc20.spzx.model.entity.product.Brand">
        select * from brand where is_deleted=0
    </select>
    <select id="selectAllBrand" resultType="com.awc20.spzx.model.entity.product.Brand">
        select * from brand where is_deleted=0
    </select>
</mapper>