<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.awc20.spzx.manager.mapper.CategoryBrandMapper">
    <insert id="insertCategoryBrand">
        insert into category_brand(brand_id, category_id) VALUES (#{brandId},#{categoryId})
    </insert>
    <select id="selectCategoryBrandByPage" resultType="com.awc20.spzx.model.entity.product.CategoryBrand">
        select b.id brandId,c.id categoryId,c.`name` categoryName,b.`name` brandName,b.logo
        from brand b,category c,category_brand cb
        <where>
            b.id=cb.brand_id and c.id=cb.category_id
            <if test="brandId!= null and brandId!=''">
                and b.id=#{brandId}
            </if>
            <if test="categoryId!= null and categoryId!=''">
                and c.id=#{categoryId}
            </if>
                and b.is_deleted = 0
                and c.is_deleted = 0
                and cb.is_deleted = 0
        </where>
    </select>
    <select id="selectBrandByCategoryId" resultType="com.awc20.spzx.model.entity.product.Brand">
        select b.* from brand b,category_brand cb where b.id = cb.brand_id and cb.category_id=#{categoryId} and b.is_deleted=0
    </select>
</mapper>